
.workbench {
    padding: 1rem;
    width: calc(100% - 1rem);
    height: calc(100% - 2rem);
}

.banner {
    height: 3rem;
    margin-bottom: 2rem;
}

.workspace {
    height: calc(100% - 3rem);
}

